{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
  {{/if}}

  <div id="questions-container">
    <img src="{{ thePost.user_id.avatarUrl }}" class="avatar-question"/>
    <h4>{{thePost.user_id.firstName}}</h4>
    <h4>{{thePost.industry}}</h4>
    <p> {{ thePost.question }} </p>
    <p><a href="/question/like/{{thePost._id}}"><img src="/images/baseline-thumb_up-24px.svg"></a></p>
    <p> {{ thePost.createdAt }} </p>
    <div id="stats-container">
      <table class="">
        <thead>
          <tr>
            <th align="center" class="">Answers</th>
            <th align="center" class="">Likes</th>
            <th align="center" class="">Status</th>
            <th align="center" class="">Flag</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center" class=""> {{ thePost.answers }} </td>
            <td align="center" class=""> {{ thePost.likes }} </td>
            <td align="center" class=""> {{ thePost.status }}</td>
            <td align="center" class="">&#9872</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{{#if theAnswers}}
<div id="dashboard-container">
  <h2>Answers</h2>
</div>
{{/if}}

{{#each theAnswers}}
  <div id="questions-container">
    {{#with user_id}}
      <img src="{{ this.avatarUrl }}" class="avatar-question"/>
      <h3>{{this.firstName}} says:</h3>
    {{/with}}
    <p>"{{ this.answer }}"</p>
    <p><a href="/answer/like/{{this._id}}"><img src="/images/baseline-thumb_up-24px.svg"></a></p>
    <div id="stats-container">
      <table class="">
        <thead>
          <tr>
            <th align="center" class="">Likes</th>
            <th align="center" class="">Flag</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center" class=""> {{ this.likes }} </td>
            <td align="center" class="">&#9872</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{{/each}}

<form action="/answer" id="answer-form" method="POST">
<textarea rows="10" cols="60" name="answer" placeholder="Enter answer here...">
</textarea>
<input type="hidden" id="" name="question_id" value="{{thePost._id}}">
<div><button>Answer</button></div>
{{!-- <div><input type="submit"></div> --}}
</form>