<div id="dashboard-container">
  <h2>Community Questions</h2>
</div>
  {{#each questions}}
  <div id="questions-container">
    {{#with user_id}}
      <img src="{{ this.avatarUrl }}" class="avatar-question"/>
      <h4>{{this.firstName}}</h4>
    {{/with}}
    <h4>{{ this.industry }}</h4>
    <p><a href="community/question/{{this._id}}"> "{{ this.question }}?" </a></p>
    {{!-- <p>{{user_id.firstName}}</p> --}}
    <div id="stats-container">
      <table class="">
        <thead>
          <tr class="stats-items">
            <th class="">Answers</th>
            <th class="">Likes</th>
            <th class="">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="stats-items">
            <td align="center" class=""> {{ this.answers }} </td>
            <td align="center" class=""> {{ this.likes }} </td>
            <td align="center" class=""> {{ this.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}